.chat-window {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 95vh;
    border-radius: 17px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: hidden; /* Prevent content from spilling out */
  }
  
